<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>A000</key>
	<dict>
		<key>Title</key>
		<string>Usul Tafsir</string>
		<key>Content</key>
		<string></string>
		<key>HasSubContent</key>
		<true/>
		<key>SubContent</key>
		<dict>
			<key>B000</key>
			<dict>
				<key>Title</key>
				<string>Ringkasan 20 Usul Tafsir Al-Quran</string>
				<key>Content</key>
				<string>
&lt;html&gt;&lt;body id="starter" style="font-size:50px;" &gt;
&lt;p class="tajukArtikel"&gt;RINGKASAN 20 USUL TAFSIR AL-QURAN (Yang Perlu Dikuasai Untuk Memahami Al-Qur’an Dengan Betul Dan Selamat)&lt;/p&gt;
&lt;p class="ayatArtikel"&gt;1. Tafsir Al-Qur’an dengan Al-Quran&lt;/p&gt;
&lt;p class="ayatArtikel"&gt;2. Tafsir Al-Qur’an dengan Hadits-hadits Sahih&lt;/p&gt;
&lt;p class="ayatArtikel"&gt;3. Tafsir A-Qur’an Dengan Pendapat-Pendapat Sahabat&lt;/p&gt;
&lt;p class="ayatArtikel"&gt;4. Tafsir A-Qur’an Dengan Pendapat-Pendapat Tabi’in&lt;/p&gt;
&lt;p class="ayatArtikel"&gt;5. Tafsir Al-Qur’an Berdasarkan Pendapat-Pendapat Yang Bersesuaian Dengan Qaedah-Qaedah Bahasa ‘Arab&lt;/p&gt;
&lt;p class="ayatArtikel"&gt;6. Tafsir Al-Qur’an Menggunakan Fikiran&lt;/p&gt;
&lt;p class="ayatArtikel"&gt;7. Tafsir Al-Qur’an Berpandukan Ayat Sebelum Dan Selepas&lt;/p&gt;
&lt;p class="ayatArtikel"&gt;8. Memahami Al-Qur’an Berdasarkan Tertib Turun Ayat&lt;/p&gt;
&lt;p class="ayatArtikel"&gt;9. Memahami Al-Qur’an Berdasarkan Tertib Yang Ada&lt;/p&gt;
&lt;p class="ayatArtikel"&gt;10. Mengetahui Struktur Makro (Topik Umum) Setiap Surah&lt;/p&gt;
&lt;p class="ayatArtikel"&gt;11. Mengetahui Tajuk Perbincangan Khusus Setiap Surah&lt;/p&gt;
&lt;p class="ayatArtikel"&gt;12. Mengetahui Struktur Mikro Dalam Setiap Ayat Al-Qur’an&lt;/p&gt;
&lt;p class="ayatArtikel"&gt;13. Mengetahui Kata Kunci Di Dalam Setiap Surah&lt;/p&gt;
&lt;p class="ayatArtikel"&gt;14. Mengetahui Kesinambungan Antara Dalil Dan Madlul Dalam Sumpah-Sumpah&lt;/p&gt;
&lt;p class="ayatArtikel"&gt;15. Mengelak Diri Daripada Menta’wilkan Ayat-Ayat Mutasyabihat&lt;/p&gt;
&lt;p class="ayatArtikel"&gt;16. Mengetahui Sebab Turun Ayat Dan Apa-Apa Yang Bersesuaian Dengannya&lt;/p&gt;
&lt;p class="ayatArtikel"&gt;17. Mengetahui Ayat-Ayat Yang Menasakhkan Dan Ayat-Ayat Yang Dimansukhkan&lt;/p&gt;
&lt;p class="ayatArtikel"&gt;18. Mengelak Diri Daripada Tafsir Golongan-Golongan Yang Sesat&lt;/p&gt;
&lt;p class="ayatArtikel"&gt;19. Mengelak Diri Daripada Riwayat-Riwayat Israiliyat Dalam Penafsiran Al-Qur’an&lt;/p&gt;
&lt;p class="ayatArtikel"&gt;20. Bercermat Dalam Tafsir Al-Qur’an Menggunakan Sains Moden&lt;/p&gt;
&lt;/body&gt;&lt;/html&gt;
</string>
			</dict>
			<key>B001</key>
			<dict>
				<key>Title</key>
				<string>Usul 1: Tafsir Quran dengan Quran</string>
				<key>Content</key>
				<string>
&lt;html&gt;&lt;body id="starter" style="font-size:50px;"&gt;

&lt;p class="tajukArtikel"&gt;(1) Tafsir Al-Qur’an Dengan Al-Qur’an&lt;/p&gt;

&lt;p class="ayatQuran" dir="rtl"&gt;(تفسير القرآن بالقرآن)&lt;/p&gt;

&lt;p class="ayatArtikel"&gt;Usul pertama yang perlu dipakai dalam menafsir al-Qur’an untuk mendapat kefahaman yang betul dengan selamat ialah mentafsir al-Qur’an dengan al-Qur’an sendiri.&lt;/p&gt;

&lt;p class="ayatArtikel"&gt;Antara sebab kenapa usul ini perlu dipakai ialah kerana:&lt;/p&gt;

&lt;p class="ayatArtikel"&gt;(a) Orang yang bercakap lebih mengetahui tentang apa yang dikehendakinya dengan percakapannya. Dialah yang orang paling patut diutamakan untuk anda mengetahui maksud percakapannya. Tentang Quran, tentulah Allah yang paling mengetahui tentangnya.&lt;/p&gt;

&lt;p class="ayatArtikel"&gt;(b) AI-Qur’an kadang-kadang menyebutkan sesuatu secara ijmal (secara ringkas dan umum, tidak terperinci). Kadang-kadang pula secara tafshil (huraian secara detail).&lt;/p&gt;

&lt;p class="ayatArtikel"&gt;(c) Tidak ada sebarang pertentangan di dalam al-Qur’an, sama ada antara perkataan-perkataannya atau antara ayat-ayatnya. Al-Qur’an ialah kalam Allah, ia membenar dan menguatkan satu sama lain. la juga mentafsir, menghurai dan menjelaskan satu sama lain.&lt;/p&gt;

&lt;p class="ayatArtikel"&gt;Ribuan contohnya terdapat di dalam al-Qur’an. Sebagai panduan kita ambil sahaja dua daripadanya;&lt;/p&gt;

&lt;p class="ayatArtikel"&gt;(i) Di dalam Surah ad-Dukhan ayat 3, Allah menceritakan bahawa Dia menurunkan al-Qur’an pada satu ‘malam yang diberkati’. Apakah malam itu? la ialah malam Qadar. (lihat ayat 1 Surah al-Qadr). Malam Qadr itu terletak dalam bulan apa pula? Jawabnya di bulan Ramadhan. (lihat ayat 185, Surah al-Baqarah),&lt;/p&gt;

&lt;p class="ayatArtikel"&gt;(ii) Al-Qur’an beberapa kali menyebutkan manusia akan mendapat balasan dan ganjaran bagi segala usahanya. Kalau dia mahu dunia, dia akan mendapat dunia. Kalau dia mahu akhirat, dia juga akan mendapatnya. Orang-orang Islam diajar supaya meminta dunia dan akhirat, kedua-dua sekali. Sesiapa yang mencari dan meminta dunia sahaja, dia tidak akan mendapat apa-apa bahagian di akhirat nanti. Untuk mendapat apa-apa, sama ada di dunia atau di akhirat, perlu ada usaha. Al-Quran menggunakan perkataan الحرس untuk usaha pencarian dunia dan akhirat. Perkataan الحرس baru dapat difahami dengan betul dan lengkap maksudnya apabila anda mengaitkannya juga dengan ayat 223 di dalam Surah al-Baqarah, ayat 134 di dalam Surah an-Nisaa’ dan ayat 20 di dalam Surah as-Syura.&lt;/p&gt;

&lt;/body&gt;&lt;/html&gt;
</string>
			</dict>
			<key>B002</key>
			<dict>
				<key>Title</key>
				<string>Usul 2: Tafsir Quran dengan Hadist</string>
				<key>Content</key>
				<string>

&lt;html&gt;&lt;body id="starter" style="font-size:50px;"&gt;

&lt;p class="tajukArtikel"&gt;(2) Tafsir Al-Qur’aan Dengan Hadits-Hadits Sahih&lt;/p&gt;

 &lt;p class="ayatQuran" dir="rtl"&gt; (تفسير القرآن بالحاديث الصحيح) &lt;/p&gt;

&lt;p class="ayatArtikel"&gt;Usul kedua ialah mentafsir al-Qur’an dengan hadits-hadits sahih. Tafsir al-Qur an dengan hadits-hadits sahih juga bererti mentafsirnya dengan wahyu. Dalam usaha memahami dan memahamkan al-Qur’an, ia merupakan sumber kedua dari langit.&lt;/p&gt;

&lt;p class="ayatArtikel"&gt;Hadits-hadits Rasulullah SAW sama ada berupa ucapan, perbuatan atau pengesahan Baginda yang sampai kepada kita menerusi rantaian (sanad) perawi-perawi yang dipercayai dan boleh dijadikan hujah di sisi para ulama hadits merupakan saluran kedua yang harus diikuti dan dijadikan pegangan dalam pemahaman al-Qur’an. Ini kerana ia juga merupakan sumber mu’tabar kepada umat.&lt;/p&gt;

&lt;p class="ayatArtikel"&gt;Menurut Ahli as-Sunnah Wa al-Jama’ah, tafsiran al-Qur’an yang bercanggah dengan hadits-hadits yang sahih dan tidak mansukh adalah satu bentuk tahrif (penyelewengan makna) al-Qur’an.&lt;/p&gt;

&lt;p class="ayatArtikel"&gt;Tafsir al-Qur’an dengan hadits-hadits yang sahih juga perlu kerana beberapa sebab berikut:&lt;/p&gt;

&lt;p class="ayatArtikel"&gt;(a) Salah satu peranan dan kerja Nabi s.a.w. ialah mentafsir al-Qur an dengan menghurai dan menerangkan maksud-maksudnya. Hal ini sesuai dengan firman Allah di dalam Surah an-Nahl:44&lt;/p&gt;

&lt;p class="ayatQuran" dir="rtl" &gt;
 بِالْبَيِّنَاتِ وَالزُّبُرِ ۗ وَأَنْزَلْنَا إِلَيْكَ
 الذِّكْرَ لِتُبَيِّنَ لِلنَّاسِ مَا نُزِّلَ إِلَيْهِمْ
 وَلَعَلَّهُمْ يَتَفَكَّرُونَ
&lt;/p&gt;

&lt;p class="ayatArtikel"&gt;Bermaksud: (Kami utuskan Rasul-rasul itu) membawa keterangan-keterangan yang jelas nyata (yang membuktikan kebenaran mereka) dan kitab-kitab suci (yang menjadi panduan); dan Kami pula turunkan kepadamu (wahai Muhammad) al-Quran yang memberi peringatan, supaya engkau menerangkan kepada umat manusia akan apa yang telah diturunkan kepada mereka, dan supaya mereka memikirkannya. (an-Nahl:44).&lt;/p&gt;

&lt;p class="ayatArtikel"&gt;(b) Allah memerintahkan NabiNya Muhammad s.a.w. supaya memutuskan perkara dan menghukum antara manusia dengan berpandukan al-Qur’an. Allah berfirman:&lt;/p&gt;

&lt;p class="ayatQuran" dir="rtl"&gt;
 إِنَّا أَنْزَلْنَا إِلَيْكَ الْكِتَابَ بِالْحَقِّ
 لِتَحْكُمَ بَيْنَ النَّاسِ بِمَا أَرَاكَ اللَّهُ
 وَلَا تَكُنْ لِلْخَائِنِينَ خَصِيمًا
&lt;/p&gt;

&lt;p class="ayatArtikel"&gt;Bermaksud: Sesungguhnya Kami menurunkan kepadamu (wahai Muhammad) Kitab (al-Quran) dengan membawa kebenaran, supaya engkau menghukum antara manusia menurut apa yang Allah telah tunjukkan kepadamu (melalui wahyuNya); dan janganlah engkau menjadi pembela bagi orang-orang yang khianat. (an-Nisaa :105).&lt;/p&gt;

&lt;p class="ayatArtikel"&gt;(c) Al-Qur’an sampai kepada kita (umat) menerusi Nabi s.a.w.&lt;/p&gt;

&lt;p class="ayatArtikel"&gt;(d) Banyak sekali perintah Allah di dalam al-Qur’an diberikan secara ijmal (ringkas). Hadits-hadits Rasulullahlah yang mentafshilkannya. Seperti perintah bersembahyang, memberi zakat, memotong tangan pencuri dan lain-lain.&lt;/p&gt;

&lt;p class="ayatArtikel"&gt;Satu perkara perlu sekali diingat apabila anda mentafsir al-Qur’an, iaitu anda mestilah mengelak diri daripada menggunakan hadits-hadits dha’if (lemah) dan maudhu’ (palsu).&lt;/p&gt;

&lt;p class="ayatArtikel"&gt;Hadits-hadits tentang kelebihan setiap surah al-Qur’an yang dikemukakan di dalam kitab-kitab tafsir seperti Tafsir ats-Tsa’labi, al-Waahidi, az-Zamakhsyari, al-Baidhaawi dan lain-lain, kebanyakannya adalah maudhu.&lt;/p&gt;

&lt;p class="ayatArtikel"&gt;Untuk panduan, di bawah ini dikemukakan dua contoh mentafsirkan al-Qur’an dengan hadits-hadits sahih:&lt;/p&gt;

&lt;p class="ayatArtikel"&gt;(a) Perkataan ظلم biasanya memberi erti kezaliman atau ketidakadilan. Tetapi di dalam al-Qur’an ia dipakai juga dengan beberapa erti yang lain. Daripada hadis Bukhari ke 32 misalnya, diketahui perkataan ظلم yang tersebut di dalam firman Allah s.w.t. di dalam Surah al-An’aam yang akan dikemukakan nanti adalah dengan makna syirik atau kesyirikan. Allah berfirman:&lt;/p&gt;

&lt;p class="ayatQuran" dir="rtl"&gt;
 الَّذِينَ آمَنُوا وَلَمْ يَلْبِسُوا إِيمَانَهُمْ
 بِظُلْمٍ أُولَٰئِكَ لَهُمُ الْأَمْنُ وَهُمْ مُهْتَدُونَ
&lt;/p&gt;

&lt;p class="ayatArtikel"&gt;Bermaksud: orang-orang yang beriman dan tidak mencampuradukkan iman mereka dengan kezaliman (syirik), mereka itulah yang mendapat keamanan dan merekalah orang-orang yang mendapat petunjuk. (al-An’aam:82).
&lt;/p&gt;

&lt;p class="ayatArtikel"&gt;Rasulullah s.a.w. sendiri mentafsirkan perkataan ~ظلم~ yang tersebut di dalam firman Allah ini dengan makna syirik, dan ia difahami Baginda s.a.w. daripada firman Allah di dalam Surah Luqman berikut:
&lt;/p&gt;

&lt;p class="ayatQuran" dir="rtl"&gt;
 وَإِذْ قَالَ لُقْمَانُ لِابْنِهِ وَهُوَ يَعِظُهُ يَا
 بُنَيَّ لَا تُشْرِكْ بِاللَّهِ ۖ إِنَّ الشِّرْكَ
 لَظُلْمٌ عَظِيمٌ
&lt;/p&gt;

&lt;p class="ayatArtikel"&gt;Bermaksud: dan (ingatlah) ketika Luqman berkata kepada anaknya, semasa ia memberi nasihat kepadanya: “Wahai anak kesayanganku, janganlah engkau mempersekutukan Allah (dengan sesuatu yang lain). Sesungguhnya perbuatan syirik (mempersekutukan Allah) itu adalah satu kezaliman yang besar”. (Luqman:13).&lt;/p&gt;

&lt;p class="ayatArtikel"&gt;(b) Berdasarkan hadis sahih, rangkaikata سبعا من المثاني yang tersebut di dalam firman Allah di dalam Surah al-Hijr di bawah ini:&lt;/p&gt;

&lt;p class="ayatQuran" dir="rtl"&gt;
وَلَقَدْ آتَيْنَاكَ سَبْعًا مِنَ الْمَثَانِي وَالْقُرْآنَ الْعَظِيمَ
&lt;/p&gt;

&lt;p class="ayatArtikel"&gt;Bermaksud: dan sesungguhnya Kami telah memberi kepadamu (wahai Muhammad) tujuh ayat yang diulang-ulang bacaannya dan seluruh al-Qur’an yang agung (amat besar kemuliaan dan faedahnya). (al-Hijr:87),&lt;/p&gt;

&lt;p class="ayatArtikel"&gt;adalah Surah al-Fatihah. Imam Bukhari dengan sanadnya meriwayatkan daripada Abu Hurairah, bahawa Rasulullah s.a.w. bersabda:&lt;/p&gt;

&lt;p class="ayatArtikel"&gt;Diriwayatkan oleh Bukhari, no. 4474 dari Abu Said bin Al-Mualla, “Sesungguhnya Rasulullah sallallahu’alaihi wa sallam bersabda kepadanya:&lt;/p&gt;

&lt;p class="ayatQuran" dir="rtl"&gt;
لَأُعَلِّمَنَّكَ سُورَةً هِيَ أَعْظَمُ السُّوَرِ فِي الْقُرْآنِ قَبْلَ أَنْ تَخْرُجَ مِنْ الْمَسْجِدِ) ثُمَّ أَخَذَ بِيَدِي فَلَمَّا أَرَادَ أَنْ يَخْرُجَ قُلْتُ لَهُ : أَلَمْ تَقُلْ لَأُعَلِّمَنَّكَ سُورَةً هِيَ أَعْظَمُ سُورَةٍ فِي الْقُرْآنِ ؟ قَالَ : (الْحَمْدُ لِلَّهِ رَبِّ الْعَالَمِينَ ، هِيَ السَّبْعُ الْمَثَانِي ، وَالْقُرْآنُ الْعَظِيمُ الَّذِي أُوتِيتُهُ)
&lt;/p&gt;

&lt;p class="ayatArtikel"&gt;
“Aku akan ajarkan kepadamu suatu surat yang paling utama dalam Al-Qur’an sebelum engkau keluar dari masjid.” Kemudian beliau memegang tanganku. Ketika ingin keluar (masjid) saya katakan kepada beliau, “Tidakkah engkau mengatakan kepada saya akan mengajarkan kepadaku surat yang paling agung dalam Al-Qur’an?” Beliau menjawab, “Al-Hamdulillahi rabbil’alamin (Al-Fatihah), dia adalah As-Sab’ul Matsani (tujuh ayat yang diulang-ulang) dan Al-Qur’anul Azim yang diberikannya.”
&lt;/p&gt;

&lt;p class="ayatArtikel"&gt;Demikianlah dua contoh tafsir al-Qur’an dengan hadis yang sahih.&lt;/p&gt;

</string>
			</dict>
			<key>B003</key>
			<dict>
				<key>Title</key>
				<string>Usul 3: Tafsir Quran dengan Atsar Sahabat</string>
				<key>Content</key>
				<string>
(3) Tafsir Al-Qur’an Dengan Atsar Sahabat ~(تفسير القرآن بآثار الصحابة)~


Usul ketiga ialah mentafsir al-Qur’an dengan atsar atau pendapat-pendapat Sahabat, khususnya ‘Abdullah bin Mas’ud r.a. (m.32H) dan ‘Abdullah bin ‘Abbaas r.a. (m.68H). Sebelum mentafsir al-Qur’an dengan pendapat-pendapat Sahabat, seseorang pentafsir hendaklah terlebih dahulu melihat al-Qur’an sendiri, apakah ada tafsiran terhadap sesuatu yang hendak ditafsirkan di dalamnya atau tiada. Kalau ada, maka tafsiran al-Qur’anlah yang seharusnya dipakai. Kalau tidak ada, maka perlu pula dicari tafsirannya di dalam hadits. Kalau ada tafsirannya di dalam hadits, maka itulah seharusnya dipakai. Setelah tidak didapati tafsirannya di dalam hadits, barulah dicari tafsirannya di dalam atsar (kata-kata atau pendapat-pendapat) Sahabat. Demikianlah tertib yang betul dalam pentafsiran al-Qur’an.

Atsar Sahabat diguna pakai dalam mentafsir al-Qur’an kerana sebab-sebab berikut:

(a) Bahasa al-Qur’an adalah bahasa mereka.

(b) Mereka mengetahui dan memahami latar belakang ayat-ayat al-Qur’an yang diturunkan kepada Rasulullah s.a-w.

(c) Mereka mempelajari al-Qur’an dan ma’na-ma’nanya dengan Rasulullah s.a-w. sendiri

(d) Mereka sangat cermat dalam mentafsir al-Qur’an. Perbezaan pendapat dalam mentafsir sesuatu ayat berlaku juga di kalangan Sahabat, tetapi biasanya hanya pada lafaz sahaja. Adapun perbezaan pada makna, maka itu sesuatu yang jarang berlaku.

(e) Ada jalan penyelesaian yang terang jika berlaku perselisihan pendapat di kalangan Sahabat dalam mentafsir al-Qur’an. Dalam keadaan itu pendapat yang lebih kuat harus dipilih dan ditarjihkan. Dimaksudkan dengan pendapat yang lebih kuat ialah yang lebih dekat dan sesuai dengan al-Qur’an dan hadits yang dinukilkan dengan sanad yang lebih sahih.

(f) Ijma mereka merupakan hujah dalam syari’at.

Antara peribadi yang terkenal sebagai imam dalam tafsir al-Qur’an di kalangan Sahabat ialah 10 orang berikut:

(1) Saiyyidina Abu Bakar as-Shiddiq r.a.
(2) Saiyyidina ‘Umar r.a.
(3) Saiyyidina ‘Utsman r.a.
(4) Saiyyidina ‘Ali r.a.
(5) Saiyyidina ‘Abdullah bin Mas’ud r.a.
(6) Saiyyidina ‘abdulhah bin ‘Abbaas r.a.
(7) Saiyyidina Ubai bin Ka’ab r.a
(8) Saiyyidina Zaid bin Tsabit r.a.
(9) Saiyyidma Abu Musa al-Asy’ari r.a.
(10) Saiyyidina ‘Abdullah bin Zubair r.a.

Antara contoh tafsir al-Qur’an dengan atsar Sahabat ialah tafsiran ibnu Mas’ud terhadap rangkai kata ~لهو الحيث~ yang tersebut di dalam ayat 6 Surah Luqman. Untuk menguatkan pendapat beliau, sebanyak tiga kali diulanginya kata-kata ini: ~هو والله الغناء~ yang bermaksud: (ia demi Allah adalah lagu-lagu). (Atsar riwayat Ibnu Abi Syaibah, Ibnu Jarir, Haakim dan Baihaqi).



                </string>
			</dict>
		</dict>
	</dict>
	<key>A001</key>
	<string>Surah Al-Fatihah</string>
	<key>A002</key>
	<string>Surah Al-Baqarah</string>
	<key>A003</key>
	<string>Surah Ali-Imran</string>
	<key>A004</key>
	<string>Surah An-Nisa</string>
</dict>
</plist>
